
@{
    ViewBag.Title = "Trabajo Final";
}
<div class="col-6 mx-auto mb-5">

    <div class="mx-auto mt-2" style="width:110px">
        <img src="~/src/img/logo_upt.png" class="mx-auto " style="width:100%" />
    </div>

    <h2 class="text-center mt-4 mb-2 text-muted">UNIVERSIDAD PRIVADA DE TACNA</h2>

    <h3 class="text-center mt-1 mb-4 text-muted">FACULTAD DE INGENIERIA</h3>

    <h3 class="text-center mt-5 mb-5 text-muted">Escuela Profesional de Ingeniería de Sistemas</h3>

    <h2 class="text-center mt-5 mb-5 text-muted">@ViewBag.Title</h2>

    <h4 class="text-center text-muted mb-2">Curso</h4>
    <p class="text-center text-muted mb-5 caratulo">Desarrollo de Aplicaciones Web II</p>

    <h4 class="text-center text-muted mb-2">Docente</h4>
    <p class="text-center text-muted mb-5 caratulo">Ing. Enrique Feliz Lanchipa Valencia</p>

    <h4 class="text-center text-muted m-2">Alumno</h4>
    <div class="d-flex flex-row justify-content-between">
        <p class="text-center text-muted caratulo">Roby Gerson Zuñiga Silva</p>
        <p class="text-center text-muted mb-5 caratulo">(2015052684)</p>
    </div>

    <h4 class="text-center text-muted mb-2">Tacna - Perú</h4>
    <h4 class="text-center text-muted mb-5">@DateTime.Now.Year</h4>

</div>

